<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view ng-controller="EventInfoCtrl as e " ng-init="e.loadEvent()" view-title="Event Info">
    <ion-content class="padding">

        <a nav-direction="forward" href="#/tab/events">
            <button class="button button-outline button-assertive icon-right ion-chevron-right col-offset-66">Events</button>
        </a>

        <div class="card">
            <h2 style="text-align:center">
                {{e.event.city}} - {{e.event.category}}
            </h2>

            <ion-item class="item-image " style="margin-top:10px; ">
                <img ng-src="img/cities/{{e.event.img}} ">
            </ion-item>
        </div>

        <h2 style="text-align:center;margin-bottom:20px;font-size:30px;">Races</h2>

        <ion-list ng-repeat="race in e.event.races | orderBy:'-name':true">

            <h2 style="font-size:20px; ">#{{race.name}}</h2>



            <table class="table table-bordered table-striped" style="margin-bottom:50px">
                <tr style="font-size:16px;background-color:#ef473a;font-weight:bold">
                    <th>Position</th>
                    <th>CR</th>
                    <th>#</th>
                    <th>Driver</th>
                    <th>Points</th>
                    <th>Time</th>
                </tr>

                <tr ng-repeat="participation in race.participations | orderBy:'-rank':true">
                    <td>{{participation.rank}}</td>
                    <td>{{participation.corridor}}</td>
                    <td>{{participation.ship.tag}}</td>
                    <td>{{participation.participatingDriver.firstname + " " + participation.participatingDriver.lastname}}</td>
                    <td>{{participation.score}}</td>
                    <td>{{participation.duration}}</td>
                </tr>

            </table>


        </ion-list>

    </ion-content>
</ion-view>