<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view ng-controller="EventInfoCtrl as e " ng-init="e.loadEvent()" view-title="Event Info">
    <ion-content class="padding">

        <a nav-direction="forward" href="#/tab/events">
            <button class="button button-outline button-assertive icon-right ion-chevron-right col-offset-66">Events</button>
        </a>

        <div class="card">
            <h2 style="text-align:center">
                {{e.event.city}} - {{e.event.category}}
            </h2>

            <ion-item class="item-image " style="margin-top:10px; ">
                <img ng-src="img/cities/{{e.event.img}} ">
            </ion-item>
        </div>


        <!--

        <h2 style="text-align:center;margin-bottom:20px;font-size:30px;">Participants</h2>

        <ion-list>
            <ion-item class="item item-thumbnail-left " ng-repeat="ship in ships ">
                <img ng-src="img/ships/{{ship.img}} ">
                <div style="margin-top:15px; ">
                    <h2 style="font-size:20px; ">#{{ship.tag}}</h2>
                    <h2 style="font-size:20px; ">{{ship.driver}}</h2>
                </div>
            </ion-item>
        </ion-list>
        
        -->

        <h2 style="text-align:center;margin-bottom:20px;font-size:30px;">Races</h2>

        <ion-list ng-repeat="race in e.races">

            <h2 style="font-size:20px; ">#{{race.name}}</h2>

        </ion-list>

    </ion-content>
</ion-view>